body{
    background-image: url(../Img/background_pesquisa.jpeg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
}

/* header */
.menu-principal{
    width: 100%;
    height: 75px;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo {
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-family: Montserrat;
    margin-top: 13px;
}

.img-menu {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 20px;
    position: absolute;
    left: 0px;
}

.elementos-menu li {
    margin-top: 20px;
    margin-left: 25px;
    list-style: none;
}

.elementos-menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Montserrat;
}