body{
    background-color: aliceblue;
}

/* header */
.menu-principal{
    width: 100%;
    height: 75px;
    background-color: #011233;
    display: flex;
    flex-direction: row;
}

.elementos-menu {
    display: flex;
    flex-direction: row;
}

.img-menu {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

.elementos-menu li {
    margin-top: 20px;
    margin-left: 25px;
    list-style: none;
}

.elementos-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Montserrat;
}

/* main */
.area-informacao {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.conteudo {
    padding: 20px;
    width: 75%;
    color: rgb(0, 0, 0);
}

.titulo {
    font-family: Montserrat;
    font-size: 29px;
}

.titulo-descricao {
    font-family: Montserrat;
    font-size: 20px;
    padding-top: 20px;
}

.texto-mundo {
    font-family: Montserrat;
    padding-top: 30px;
    font-size: 15px;
}


/* footer */

.copyright {
    width: 100%;
    height: 50px;
    background-color: #011233;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    padding-top: 15px;
}