body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/* main */
main {
    flex-grow: 1;
}

.titulo {
    font-family: Montserrat;
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

/* area de descrição (main) */

.area-informacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    background-color: #011233;
    padding: 30px;
}

.conteudo {
    padding: 20px;
    width: 50%;
    color: white;
}

.titulo-descricao {
    font-family: Montserrat;
    font-size: 20px;
    padding-top: 20px;
}

.texto-mundo {
    font-family: Montserrat;
    padding-top: 30px;
    font-size: 15px;
    text-align: justify;
}

.imagem-mundo {
    width: 650px;
    height: 450px;
    margin-left: 30px;
}

/* area de pesquisa (main) */

.area-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.input{
    font-family: Montserrat;
}

.input-pesquisa {
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    width: 700px;
    border: 1px solid #000000;
}

.botao-pesquisa {
    margin: 20px 0px 0px 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #011233;
    color: white;
    border: none;
    cursor: pointer;
}

.botao-pesquisa:hover {
    background-color: #007bff;
    transform: scale(1.1);
}

.conteúdo-pesquisa {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 16px;   
}


/* footer */

footer {
    width: 100%;
    background-color: #011233;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}